HELP.md
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
server3d/cone/__pycache__/
server3d/logs/*.txt
server3d/data/*/
server3d/model/__pycache__/
server3d/model/protocol/__pycache__/
server3d/tools/cropping/__pycache__/
server3d/tools/measurement/__pycache__/
server3d/tools/panning/__pycache__/
server3d/utils/__pycache__/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
